/* This is for desktops larger than 600px wide */
.headerContainer {
    display: flex;
    width: 100%;
    background-color: #0070C0;
    padding: clamp(1vw, 1vw, 15px);
    justify-content: space-between;
    border-bottom: 3px solid black;
}

.headerContainer div {
    display: flex;
    align-items: center;
}

.headerContainer p {
    font-size: clamp(2vw, 4vw, 65px);
    color: white;
    font-weight: bolder;
}

.headerContainer div:first-child img {
    width: clamp(2vw, 3vw, 50px);
    height: clamp(2vw, 3vw, 50px);
    margin: 2px;
}

.headerContainer div:first-child img:hover {
    margin: 0px;
    width: calc(clamp(2vw, 3vw, 50px) + 4px);
    height: calc(clamp(2vw, 3vw, 50px) + 4px);
    cursor: pointer;
}

.headerContainer div:first-child {
    margin-left: 2vw;
}

.headerContainer div:nth-of-type(2) img {
    width: clamp(2vw, 5vw, 80px);
    height: clamp(2vw, 5vw, 80px);
    margin-right: 2vw;
}

.hamburger {
    background-color: white;
    position: absolute;
    top: 0px;
    padding: 2vw;
    height: 100%;
    border-right: 3px solid black;
    align-items: center;
}

.hamburger div:first-of-type {
    display: flex;
    align-items: center;
}

.hamburger div:first-child p {
    font-size: clamp(2vw, 4vw, 50px);
    margin-right: clamp(1vw, 2vw, 40px);
}

.hamburgerOpen {
    left: 0px;
    transition: 0.2s;
}

.hamburgerClosed {
    transform: translate(-100%, 0%);
    transition: 0.2s;
}

.crossIconContainer img {
    width: clamp(2vw, 3vw, 50px);
    height: clamp(2vw, 3vw, 50px);
    margin: 2px;
}

.crossIconContainer img:hover {
    margin: 0px;
    width: calc(clamp(2vw, 3vw, 50px) + 4px);
    height: calc(clamp(2vw, 3vw, 50px) + 4px);
    cursor: pointer;
}

.links {
    display: inline-block;
    font-size: clamp(1vw, 1.5vw, 30px);
    width: fit-content
}

.links:first-child {
    margin-top: 1vw;
}

.links p:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #0070C0
}

.links p {
    font-size: clamp(2vw, 3vw, 40px);
}

/* This is for mobile phones upto screen width of 600px */
@media only screen and (max-width: 600px) {
    .headerContainer {
        padding: clamp(3vw, 4vw, 50px);
        border-bottom: 1px solid black;
    }

    .headerContainer p {
        font-size: clamp(2vw, 7vw, 80px);
    }

    .headerContainer div:first-child img {
        width: clamp(4vw, 6vw, 80px);
        height: clamp(4vw, 6vw, 80px);
        margin: 0px;
    }

    .headerContainer div:first-child img:hover {
        margin: 0px;
        width: clamp(4vw, 6vw, 80px);
        height: clamp(4vw, 6vw, 80px);
    }

    .headerContainer div:nth-of-type(2) img {
        width: clamp(4vw, 10vw, 80px);
        height: clamp(4vw, 10vw, 80px);
    }

    .hamburger p {
        font-size: clamp(1vw, 5vw, 65px);
    }

    .hamburger div p {
        font-size: clamp(2vw, 7vw, 60px);
        margin-right: clamp(1vw, 4vw, 40px);
    }

    .crossIconContainer img {
        width: clamp(2vw, 5vw, 50px);
        height: clamp(2vw, 5vw, 50px);
        margin: 2px;
    }

    .crossIconContainer img:hover {
        margin: 0px;
        width: calc(clamp(2vw, 5vw, 50px) + 4px);
        height: calc(clamp(2vw, 5vw, 50px) + 4px);
        cursor: pointer;
    }

    .hamburger {
        padding: 4vw;
    }
}