* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Preahvihear', sans-serif;
  background-image: url('Images/backgroundTiles.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}